* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    width: 100%
}

body{
    display: grid;
    place-items: center;
    /* background-color: rgba(255, 192, 203, .5); */
}

.container{
    width: 300px;
    height: 450px;
    /* background-color: pink; */
    background-color: #FFE0E0;
    border: 2px solid rgb(254, 163, 178);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(255, 192, 203, .8);
    padding: 20px;
}

.container .top{
    display: flex;
    justify-content: space-between;
}

.container .top i{
    background-color: white;
    font-size: 25px;
    color: red;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -5px 5px 5px pink;
}

.container .song-card{
    margin: 40px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .song-card img{
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: -5px 5px 5px pink;
}

.container .song-card h1{
    font-size: 18px;
    font-weight: 500;
}

.container .song-card h4{
    font-size: 12px;
    font-weight: 400;
}

#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    margin: 0px 0px 20px 0px;
    background: #f53192;
    border-radius: 4px;
    cursor: pointer;
}

#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background: #f53192;
    border-radius: 50%;
    border: 8px solid white;
    box-shadow: 0px 5px 5px rgba(255, 26, 26, 0.22);
}

.controller{
    margin-top: 20px;
    padding: 0px 30px;
}

.container i{
    cursor: pointer;
}

.controller i:nth-child(2){
    transform: scale(1.5);
    color: #fff;
    background: #f53192;
}